pydantic
pydantic-settings
pyyaml
python-magic
pdf2image
Pillow
docling
groq
openai
sentence_transformers
pgvector
fastapi
uvicorn[standard]
python-multipart
boto3
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
celery[redis]
redis
qdrant-client
